{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "DenyNonApprovedRegions",
      "Effect": "Deny",
      "NotAction": ${exempt_actions},
      "Resource": "*",
      "Condition": {
        "StringNotEquals": {
          "aws:RequestedRegion": ${allowed_regions}
        }
      }
    }%{ if standby_region != "" },
    {
      "Sid": "DenyStandbyRegionOutsideProd",
      "Effect": "Deny",
      "NotAction": ${exempt_actions},
      "Resource": "*",
      "Condition": {
        "StringEquals": {
          "aws:RequestedRegion": "${standby_region}"
        },
        "StringNotEquals": {
          "aws:PrincipalAccount": "${standby_account_id}"
        }
      }
    }%{ endif }
  ]
}
